/* Reset default margin and padding */
body {
  margin: 0;
  width: 100%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  background-color: #acdeed;
  background-image: url(images/ExtendBackground.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
  background-position: left top;
}
html {
  height: 100%;
}

/* Style the header image and customize button */
header {
  display: flex;
  justify-content: space-between; /* Align items to the left and right */
  align-items: center;
  padding: 10px; /* Add padding to the header */
}

/* Style the header image */
header img {
  width: 108px;
  height: 108px;
}

/* Style the “return” button */
#return-button {
  width: fit-content;
  background-color: #00ade2;
  color: #000;
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 15px; /* Add border-radius for rounded edges */
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  font-size: 17px;
}

/* Style the main content area */
main {
  padding: 0px;
  flex-grow: 1; /* Allow the main content to grow and take up remaining space */
}

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}

/* Style the h3 element */
h3 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #5d5d5d;
  margin: 0;
  top: 115px;
  left: calc(50% - 530px);
  position: absolute;
  width: 300px;
  z-index: 1;
}

.container {
  width: auto;
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#left {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px; /* Adjust the gap between grid items */
  justify-items: center;
  border: 2px dashed #00b7ff;
}

#right {
  display: grid;
  grid-template-columns: repeat(
    2,
    2fr
  ); /* Adjust the number of columns as needed */
  gap: 10px; /* Adjust the gap between grid items */
  justify-items: center;
  border: 2px solid #00b7ffab;
}

#left,
#right {
  min-width: 500px;
  width: 500px;
  min-height: 450px;
  margin: 20px;
  background-color: rgba(206, 224, 230, 0.68);
  padding: 20px;
  margin-top: 30px;
  border-radius: 5px;
}
#drag1,
#drag2,
#drag3,
#drag4,
#drag5,
#drag6,
#drag7 {
  cursor: pointer;
}

#drag1:hover,
#drag2:hover,
#drag3:hover,
#drag4:hover,
#drag5:hover,
#drag6:hover,
#drag7:hover {
  transform: scale(
    1.1
  ); /* This will make the button scale up to 110% of its original size */
  transform: scale(
    1.1
  ); /* This will make the button scale up to 110% of its original size */
  transition: transform 0.3s ease-in-out; /* This provides a smooth transition effect */
}
/* Style the “reset” button */
#reset-button {
  width: fit-content;
  background-color: #00ade2;
  color: #fff;
  bottom: 30px;
  left: 180px;
  padding: 8px 20px;
  border: none;
  border-radius: 10px; /* Add border-radius for rounded edges */
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  position: absolute; /* Change from fixed to absolute */
}

/* Style the “save” button */
#save-button {
  width: fit-content;
  background-color: #00ade2;
  color: #fff;
  bottom: 30px;
  right: 180px;
  padding: 8px 20px;
  border: none;
  border-radius: 10px; /* Add border-radius for rounded edges */
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  position: absolute; /* Change from fixed to absolute */
}

/* Style the footer with a background color, text color, and padding */
footer {
  position: fixed;
  bottom: 0px;
  left: 5px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 10px;
  font-family: "Nunito", sans-serif;
  font-size: small;
  text-align: left;
  align-self: baseline;
}

/* Add a hover effect to the buttons */
button:hover {
  background-color: transparent;
  transform: scale(1.1);
}
