/* Reset default margin and padding */
body {
    margin: 0;
    width: 100%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    background-color: #acdeed;
}

/* Style the header image and customize button */
header {
  display: flex;
  justify-content: space-between; /* Align items to the left and right */
  align-items: center;
  padding: 10px; /* Add padding to the header */
}

/* Style the header image */
header img {
    width: 108px;
    height: 108px;
}

/* Style the “customize” button */
#customize-button {
    width: fit-content;
    background-color: #00ade2;
    color: #000;
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 15px; /* Add border-radius for rounded edges */
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    font-size: 17px;
}

/* Style the main content area */
main {
    padding: 0px;
    flex-grow: 1; /* Allow the main content to grow and take up remaining space */
}

/* Style the option buttons */
.button-container {
    display: grid;
    grid-template-columns: repeat(2,1fr); /* 2x2 grid */
    gap: 60px;
    margin: 10px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    text-align: center;
    flex-direction: column; /* Stack text below the image */
    transition: transform 0.3s;
}
  
  .activity-btn {
    width: 100%; /* Adjust the width as needed */
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
  }

  .activity-btn img {
    width: 188px; /* Adjust the width as needed */
    height: 188px; /* Adjust the height as needed */
    display: block;
    margin: 0 auto; /* Center image horizontally */
}
  
  .activity-btn .quote-txt,
  .activity-btn .visual-txt,
  .activity-btn .podcast-txt,
  .activity-btn .movement-txt {
    display: block;
    margin-top: 5px;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    color: #fff;
  }
  
  /* Style the quote containers */
  .quote-container {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
  }

  /* Style the visual containers */
  .visual-container {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
  }

  /* Style the podcast containers */
  .podcast-container {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
  }

  /* Style the movement containers */
  .movement-container {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
  }


/* Style the "Play" button for the audio */
#play-sound-button {
  background-color: #28a745;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

/* Style the footer with a background color, text color, and padding */
footer {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 10px;
    text-align: left;
    align-self: baseline;
}

#feedback {
  width: fit-content;
  background-color: #00ade2;
  color: #000;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: none;
  border-radius: 15px; /* Add border-radius for rounded edges */
  margin: 10px;
  padding: 10px 20px;
  font-size: 17px;
  font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
  cursor: pointer;
}

.hidden {
  display: none;
}

#feedbackPopup {
  position: fixed;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  z-index: 9999;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Style the feedback form elements within the popup */
#feedbackForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#feedbackForm label {
  margin-top: 10px;
  font-weight: bold;
}

#feedbackForm input[type="text"],
#feedbackForm input[type="email"],
#feedbackForm input[type="text"],
#feedbackForm textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

#feedbackForm textarea {
  height: 100px;
}

#feedbackForm input[type="submit"],
#feedbackForm button {
    background-color: #00ade2;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

#feedbackForm input[type="submit"]:hover,
#feedbackForm button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

/* Add a hover effect to the buttons */
button:hover {
    background-color: transparent;
    transform: scale(1.1);
}
