/* Reset default margin and padding */
body {
    margin: 0;
    width: 100%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #acdeed;
}

/* Style the header image */
header img {
    width: 98px;
    height: 98px;
}

/* Style the “customize” button */
#customize-button {
    width: fit-content;
    background-color: #00ade2;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 15px; /* Add border-radius for rounded edges */
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
}

/* Style the main content area */
main {
    padding: 0px;
    flex-grow: 1; /* Allow the main content to grow and take up remaining space */
}

/* Style the option buttons */
.button-container {
    display: grid;
    grid-template-columns: repeat(2,1fr); /* 2x2 grid */
    gap: 100px;
    margin: 10px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    text-align: center;
    flex-direction: column; /* Stack text below the image */
    transition: transform 0.3s;
}
  
  .activity-btn {
    width: 100%; /* Adjust the width as needed */
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
  }

  .activity-btn img {
    width: 158px; /* Adjust the width as needed */
    height: 158px; /* Adjust the height as needed */
    display: block;
    margin: 0 auto; /* Center image horizontally */
}
  
  .activity-btn .quote-txt,
  .activity-btn .visual-txt,
  .activity-btn .podcast-txt,
  .activity-btn .movement-txt {
    display: block;
    margin-top: 5px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    color: #fff;
  }
  
  /* Style the quote containers */
  .quote-container {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
  }

  /* Style the visual containers */
  .visual-container {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
  }

  /* Style the podcast containers */
  .podcast-container {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
  }

  /* Style the movement containers */
  .movement-container {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
  }


/* Style the "Play" button for the audio */
#play-sound-button {
  background-color: #28a745;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

/* Style the footer with a background color, text color, and padding */
footer {
    color: #fff;
    padding: 10px;
    text-align: left;
    align-self: flex-start;
}

/* Add a hover effect to the buttons */
button:hover {
    background-color: transparent;
    transform: scale(1.1);
}
