/* Reset default margin and padding */
body {
  margin: 0;
  width: 100%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  background-color: #acdeed;
  background-image: url(images/ExtendBG.png);
  background-repeat: no-repeat;
  min-height: 100%;
  background-position: center center;
  background-size: cover;
}
html {
  height: 100%;
}
/* Style the header image and customize button */
header {
  display: flex;
  justify-content: space-between; /* Align items to the left and right */
  align-items: center;
  padding: 10px; /* Add padding to the header */
}

/* Style the header image */
header img {
  width: 108px;
  height: 108px;
}

/* Style the “customize” button */
#customize-button {
  width: fit-content;
  background-color: #00ade2;
  color: #000;
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 15px; /* Add border-radius for rounded edges */
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  font-size: 17px;
}

/* Style the main content area */
main {
  padding: 0px;
  flex-grow: 1; /* Allow the main content to grow and take up remaining space */
}

/* Style the option buttons */
.option-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2x2 grid */
  gap: 90px;
  margin: 10px;
  border: none;
  text-align: center;
  flex-direction: column; /* Stack text below the image */
  transition: transform 0.3s;
}
/*style play button*/
.play-sound-btn {
  position: absolute;
  top: 85%; /* Center the button vertically */
  left: 50%; /* Center the button horizontally */
  transform: translate(
    -50%,
    -50%
  ); /* Ensures the button is perfectly centered, not top-left aligned to the center */
  background: transparent; /* Assuming you want no background for the button */
  border: none; /* Removes border */
  cursor: pointer;
}
/*style play button img*/
.play-img {
  border-radius: 30px;
  top: 100px;
  width: 35px;
  height: 35px;
}

/*styling only when hovering over play button */
.play-sound-btn:hover {
  transform: translate(-50%, -50%) scale(1.1);
  transition: transform 0.3s ease-in-out;
}
/*styling only when pressing the play button*/
.play-sound-btn:active {
  transform: translate(-50%, -50%) scale(0.8); /*scale down*/
  transition: transform 0.3s ease-in-out;
}

/* Style for the visual, movement, and podcast */
.visual-container,
.movement-container,
.podcast-container,
.quote-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 228px;
  height: 188px;
  margin: 0 auto;
  text-align: center;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 0.5s;
}
@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
.visual-txt,
.movement-txt,
.podcast-txt,
.quote-txt {
  display: block;
  text-align: center;
  margin-top: 5px;
  font-size: 17px;
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  color: #fff;
}

/* Style the Previous Visual and Next Visual buttons */
.prevVisual,
.nextVisual {
  opacity: 0.3;
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  top: 40%;
  border-radius: 50px;
  transition: 0.1s ease;
  user-select: auto;
}

/* Style the Previous Movement and Next Movement buttons */
.prevMovement,
.nextMovement {
  opacity: 0.3;
  background-color: transparent;
  color: grey;
  border: none;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  top: 40%;
  border-radius: 50px;
  transition: 0.1s ease;
  user-select: auto;
}

/* Position the "next button" to the right */
.prevVisual,
.prevMovement {
  left: 0;
}
/* Position the "next button" to the right */
.nextVisual,
.nextMovement {
  right: 0;
}
/* Style the buttons on hover */
.prevVisual:hover,
.nextVisual:hover,
.prevMovement:hover,
.nextMovement:hover {
  opacity: 1;
  transform: scale(1.2);
}

/* Style the quote cover button */
#quoteButton {
  background: none;
  border: none;
  cursor: pointer;
}

/* Style the cover image */
#quoteImage {
  width: auto;
  height: auto;
}

/* Style the container for the quote image */
.Quote-image {
  display: none; /* Hide the quote image by default */
}

/* Style the footer with a background color, text color, and padding */
footer {
  position: fixed;
  bottom: 0px;
  left: 15px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 0px;
  font-family: "Nunito", sans-serif;
  font-size: small;
  text-align: left;
  align-self: baseline;
}

#feedback {
  width: fit-content;
  background-color: #00ade2;
  color: #000;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: none;
  border-radius: 15px; /* Add border-radius for rounded edges */
  margin: 10px;
  padding: 10px 20px;
  font-size: 17px;
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  cursor: pointer;
}

.hidden {
  display: none;
}

#feedbackPopup {
  position: fixed;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  z-index: 9999;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Style the feedback form elements within the popup */
#feedbackForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#feedbackForm label {
  margin-top: 10px;
  font-weight: bold;
}

#feedbackForm input[type="text"],
#feedbackForm input[type="email"],
#feedbackForm input[type="text"],
#feedbackForm textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

#feedbackForm textarea {
  height: 100px;
}

#feedbackForm input[type="submit"],
#feedbackForm button {
  background-color: #00ade2;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

#feedbackForm input[type="submit"]:hover,
#feedbackForm button:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

/* Add a hover effect to the buttons */
button:hover {
  background-color: transparent;
  transform: scale(1.1);
}
