/* Reset default margin and padding */
body {
    margin: 0;
    width: 646px;
    padding: 0px;
}

/* Set a background color for the popup */
body {
    background-color: #acdeed;
}

/* Style the header image */
header img {
    display: inline-block;
    vertical-align: top;
    width: 98px;
    height: 98px;
}

/* Style the popup-container */
.popup-container {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Push items apart to the left and right */
    align-items: center;/* Vertically align items */
    padding: 10px; /* Add padding to the container */
}

/* Style the "Extend" button */
#extend-button {
    width: fit-content;
    background-color: #00ade2;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 15px; /* Add border-radius for rounded edges */
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
}

/* Style the main content area */
main {
    padding: 0px;
}
/*TESTTTTTTTTTTTTTTTTTT*/
/* Style the exercise buttons */
.activity-btn {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    text-align: center;
    flex-direction: column; /* Stack text below the image */
    align-items: center; /* Center align text and image horizontally */
    transition: transform 0.3s;
}
  
  .activity-btn img {
    width: 158px; /* Adjust the width as needed */
    height: 158px; /* Adjust the height as needed */
    display: block;
    margin: 0 auto; /* Center image horizontally */
  }
  
  .activity-btn .breathe-txt,
  .activity-btn .meditation-txt,
  .activity-btn .ambientSound-txt {
    display: block;
    margin-top: 5px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    color: #fff;
  }
  
  /* Style the breathe containers */
  .breathe-container {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
  }

  /* Style the ambientSound containers */
  .ambientSound-container {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
  }

/* Style the video element */
video {
    max-width: 100%;
    height: auto;
    display: block;
  }

/* Style the "Play" button for the audio */
#play-sound-button {
  background-color: #28a745;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

/* Style the footer with a background color, text color, and padding */
footer {
    color: #fff;
    padding: 10px;
    text-align:left;
}

/* Add a hover effect to the buttons */
button:hover {
    background-color: transparent;
    transform: scale(1.1);
}
